/**
 * CSS for admin dashboard functionality
 */

.sif_main_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1080px;
}

.sif_main_left {
    background: #ffffff;
    border-radius: 10px;
    padding: 0 2%;
    flex-basis: 54%;
}

.sif_main_right {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 2%;
    flex-basis: 36%;
}

.sif_main_right pre {
    background: #f1f2f3;
    padding: 0.5rem;
}

.sif_main_left input[type="text"] {
    min-width: 300px;
    width: 100%;
    display: block;
}

.sif_main_left .form-table th {
    width: 120px;
}

.sif_main_bottom {
    flex-grow: 1;
    text-align: right;
}

a.sif_profile_link.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
a.sif_profile_link.button-primary .dashicons {
    font-size: 16px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    display: block;
}

table.sif_profile {
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

table.sif_profile th {
    color: #5851db;
    padding: 0;
}

table.sif_profile td {
    padding: 0;
    color: #833ab4;
}

.sif_profile_row.hidden {
    display: none;
}

.sif-dual-ring.hidden {
    display: none;
}

.sif-dual-ring {
    display: inline-block;
    width: 90px;
    height: 90px;
}

.sif-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 16px;
    border-radius: 50%;
    border: 6px solid #5851db;
    border-color: #833ab4 transparent #5851db transparent;
    animation: sif-dual-ring 1.2s linear infinite;
}

.sif-dual-ring#sif-loader-small {
    width: 50px;
    height: 50px;
}

.sif-dual-ring#sif-loader-small:after {
    width: 32px;
    height: 32px;
    margin: 8px;
}

.sif_main_left .notice-error,
.sif_main_left .notice-warning {
    margin: 0;
    padding: 0.6rem;
}

@keyframes sif-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sif_main_wrap .button-primary {
    background: #5851db;
    border-color: #5851db;
    border-radius: 0.25rem;
}

.sif_main_wrap .button-secondary {
    color: #5851db;
    border-color: #5851db;
    border-radius: 0.25rem;
}

.sif_main_wrap .button-primary:hover,
.sif_main_wrap .button-secondary:hover {
    background: #833ab4;
    border-color: #833ab4;
    color: #fff;
}

.sif_main_title,
.sif_main_right h2 {
    color: #2821ab;
}

.sif_main_right h3 {
    color: #5851db;
}

.sif_main_title .dashicons:before,
.sif_main_right .dashicons:before {
    background: -moz-linear-gradient(top, #833ab4 0%, #5851db 100%);
    background: -webkit-linear-gradient(top, #833ab4 0%, #5851db 100%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1080px) {
    .sif_main_wrap {
        flex-direction: column;
    }

    .sif_main_left,
    .sif_main_right {
        margin: 0 20px 20px 0;
        flex-basis: 100%;
    }

    .sif_main_bottom {
        margin: 0 20px 0 0;
    }
}
